# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    toolkit_admin_firstname: ~
    toolkit_admin_lastname: ~
    toolkit_admin_username: ~
    toolkit_admin_email: ~
    toolkit_admin_password: ~

    node_path:  /usr/local/bin/node
    node_module_path: /usr/local/lib/node_modules
    uglify_js_path: /usr/local/bin/uglifyjs
    uglify_css: /usr/local/bin/uglifycss
    less_path: /usr/bin/less
    host: localhost
    scheme: http
    httpPort: 8000
    base_url: ~