{% extends "ASUAssetBundle::layout.html.twig" %}

{% block title %}{{ parent() }} | Team | Update{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ path('asu_asset_default_index') }}">Home</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        Teams
    </li>
{% endblock %}

{% block pageHeaderTitle %}Teams{% endblock %}

{% block content %}
    
{% endblock %}
