{% extends "ASUAssetBundle::layout.html.twig" %}

{% block title %}{{ parent() }} | Win | Update{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ path('asu_asset_default_index') }}">Home</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        Wins
    </li>
{% endblock %}

{% block pageHeaderTitle %}Wins{% endblock %}

{% block content %}
    
{% endblock %}
