{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} | Password Reset | Error{% endblock %}

{% block body %}
    <body class="login-body">
        <div class="login-wrap">
            <h2>Interest Reporting Tool</h2>
            <div class="login">
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Error:</strong> {{ 'resetting.password_already_requested'|trans }}
                </div>
            </div>
        </div>
    </body>
{% endblock body %}