{% extends "ASUAssetBundle::layout.html.twig" %}

{% block content %}
    <h1>Goal list</h1>
    <table class="records_list">
        <thead>
            <tr>
                <th>Description</th>
                <th>Percent Complete</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for goal in goals %}
            <tr>
                <td>{{ goal.description }}</td>
                <td>{{ goal.percentComplete }}</td>
                <td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
