{% extends "ASUAssetBundle::layout.html.twig" %}

{% block title %}{{ parent() }} | Search | Results{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ path('asu_asset_default_index') }}">Home</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        Search
    </li>
{% endblock %}

{% block pageHeaderTitle %}Search Results for "{{ term }}"{% endblock %}

{% block content %}
    
{% endblock %}